
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/ecommerce
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=1234

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=sua-chave-secreta-com-pelo-menos-256-bits

STRIPE_SECRET_KEY=sua-chave-secreta-do-stripe

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
