
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/ecommerce
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

REDIS_HOST=localhost
REDIS_PORT=6379


RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

JWT_SECRET=substitua_por_uma_chave_segura_de_pelo_menos_256_bits


STRIPE_SECRET_KEY=sk_test_...


ZIPKIN_ENDPOINT=http://localhost:9411/api/v2/spans

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=seu_usuario
MAIL_PASSWORD=sua_senha
MAIL_FROM=guilhermemontefilho2112@gmail.com
